{% load static %}
<!doctype html>
<html lang="en" id ="Invert Color">

<head>
<title>Hire Ability</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="header">
  <h2></h2>
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
</div>


<div></div>

<body>


   {% include 'header.html' %}
    
   {% block content %}
   {% endblock %}

    <script>
      window.onscroll = function() {myFunction()};
      function myFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
      }
      </script>
   <style>
    .text-justify{
    font-size: 14px;
line-height: 18px;
    }
  </style>

  {% include 'footer.html' %}

    <!-- Footer -->
    <!-- Site footer -->
