<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify" style="color:whitesmoke";>Hireability: <i style="color:whitesmoke";></i>The foundation of this project is a resume automation system.In the  
            system NER, Regex, NLTK, and Spacy's parse matcher will extract necessary
            information such as Name, Address, Email, phone number, Nationality, Skills [Hard Skills,
            Soft Skills], Education, Experience, Experience Year, Languages etc from the CV  in .json format.</p>
        </div>

        
        <div class="col-xs-6 col-md-3">
          <h6>Need Any Help</h6>
          <ul class="footer-links">
            
            &nbsp;
            <li><a href="{% url 'faq' %}" style="color:whitesmoke";>Frequently Asked Questions</a></li>
            &nbsp;
            <li><a href="{% url 'terms' %}" style="color:whitesmoke";>Terms and Conditions</a></li>
            &nbsp;
            <li><a href="{% url 'index' %}" style="color:whitesmoke";>Back to top</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Visit us at  &nbsp;</h6>
         

            <i class="fa fa-map-marker" style="color:whitesmoke";> &nbsp; Naxal, Kathmandu</i>
           
            <br></br>
            <i class="fa fa-phone" style="color:whitesmoke";> &nbsp; +9860*****0</i>
            
            <br></br>
             <i class="fa fa-envelope"style="color:whitesmoke";> &nbsp; hireability@gmail.com</i>
            
            
            </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text" style="color:whitesmoke";>Copyright &copy; 2021 All Rights Reserved by 
       <a href="#" style="color:whitesmoke";>Prasuna</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/" style="color:whitesmoke";><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/?lang=en" style="color:whitesmoke";><i class="fa fa-twitter"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/?hl=en" style="color:whitesmoke";><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/" style="color:whitesmoke";><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>