{% load static %}
<header>
    <div class="container">
        <div class="row w100">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12 ">
                <h3><img  class="float-left" src="{% static 'image/hireability.png' %}" alt="logo1" id="logo"  width="280px" height="150px"></h3>
            </div>
            

            <div class="col-lg-6 col-md-12 col-sm-12 col-12" style="  font-size:14px;">
                <table style="height: 10px; width: 100%;">
                    <tbody>
                        <tr>
                         <i id="topicon" title="Opening Hour"style="font-size:26px" class="fa">&#xf017;</i>
                                &nbsp;&nbsp;09:00AM -
                                05:00PM &nbsp; | &nbsp;
                                <i id="icon" title="Contact Number"style="font-size:26px" class="fa">&#xf095;</i>&nbsp;
                                +977-xxxxxxxx25 &nbsp; | &nbsp;
                                 <a onclick="InvertColor()" title="Invert Color for color blindness"><i  id="icon" style="font-size:25px" class="fa fa-adjust"></i> Invert Color</a>
                      </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="Readability">
    <ul class="navbar1">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" onclick="xyz()" href="">Resume Parser </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Data Extraction</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn login" href="{% url 'login' %}">Login</a>
                      </li>
          </ul>
                
    </ul>
    </div>
    <script>
        function xyz() {
          alert("Please Login First!");
        }
        </script>
</header>